alabaster==0.7.12
astroid==2.3.1
atomicwrites==1.3.0
attrs==19.1.0
Babel==2.7.0
boto3==1.9.253
botocore==1.12.253
brewer2mpl==1.4.1
certifi==2019.6.16
chardet==3.0.4
click==6.7
colorama==0.4.1
cycler==0.10.0
decorator==4.4.0
docopt==0.6.2
docutils==0.15.2
entrypoints==0.3
feedparser==5.2.1
flake8==3.7.8
flake8-docstrings==1.3.1
flake8-polyfill==1.0.2
Flask==1.1.1
Flask-PyMongo==2.3.0
future==0.18.1
get==2019.4.13
gitsome==0.8.4
gunicorn==20.0.0
h5py==2.10.0
hvac==0.9.5
idna==2.8
imagesize==1.1.0
importlib-metadata==0.23
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.1
jmespath==0.9.4
kiwisolver==1.1.0
latexcodec==1.0.7
lazy-object-proxy==1.4.2
maggma==0.13.0
MarkupSafe==1.1.1
matplotlib==3.1.1
mccabe==0.6.1
mongogrant==0.3.0
mongomock==3.18.0
monty==3.0.2
more-itertools==7.2.0
mpmath==1.1.0
mss==4.0.3
networkx==2.4
numpy==1.17.3
numpydoc==0.9.1
packaging==19.1
palettable==3.3.0
pandas==0.25.2
phonopy==2.3.2.post11
pluggy==0.13.0
ply==3.11
post==2019.4.13
prettyplotlib==0.1.7
prompt-toolkit==2.0.10
public==2019.4.13
py==1.8.0
pybtex==0.22.2
pycodestyle==2.5.0
pydash==4.7.5
PyDispatcher==2.0.5
pydocstyle==4.0.1
pyflakes==2.1.1
Pygments==2.4.2
pylint==2.4.2
pymatgen==2019.10.16
pymongo==3.9.0
pynput==1.4.4
pyobjc==6.1
pyobjc-core==6.1
pyobjc-framework-Accounts==6.1
pyobjc-framework-AddressBook==6.1
pyobjc-framework-AdSupport==6.1
pyobjc-framework-AppleScriptKit==6.1
pyobjc-framework-AppleScriptObjC==6.1
pyobjc-framework-ApplicationServices==6.1
pyobjc-framework-Automator==6.1
pyobjc-framework-AVFoundation==6.1
pyobjc-framework-AVKit==6.1
pyobjc-framework-BusinessChat==6.1
pyobjc-framework-CalendarStore==6.1
pyobjc-framework-CFNetwork==6.1
pyobjc-framework-CloudKit==6.1
pyobjc-framework-Cocoa==6.1
pyobjc-framework-Collaboration==6.1
pyobjc-framework-ColorSync==6.1
pyobjc-framework-Contacts==6.1
pyobjc-framework-ContactsUI==6.1
pyobjc-framework-CoreAudio==6.1
pyobjc-framework-CoreAudioKit==6.1
pyobjc-framework-CoreBluetooth==6.1
pyobjc-framework-CoreData==6.1
pyobjc-framework-CoreLocation==6.1
pyobjc-framework-CoreMedia==6.1
pyobjc-framework-CoreMediaIO==6.1
pyobjc-framework-CoreML==6.1
pyobjc-framework-CoreServices==6.1
pyobjc-framework-CoreSpotlight==6.1
pyobjc-framework-CoreText==6.1
pyobjc-framework-CoreWLAN==6.1
pyobjc-framework-CryptoTokenKit==6.1
pyobjc-framework-DictionaryServices==6.1
pyobjc-framework-DiscRecording==6.1
pyobjc-framework-DiscRecordingUI==6.1
pyobjc-framework-DiskArbitration==6.1
pyobjc-framework-DVDPlayback==6.1
pyobjc-framework-EventKit==6.1
pyobjc-framework-ExceptionHandling==6.1
pyobjc-framework-ExternalAccessory==6.1
pyobjc-framework-FinderSync==6.1
pyobjc-framework-FSEvents==6.1
pyobjc-framework-GameCenter==6.1
pyobjc-framework-GameController==6.1
pyobjc-framework-GameKit==6.1
pyobjc-framework-GameplayKit==6.1
pyobjc-framework-ImageCaptureCore==6.1
pyobjc-framework-IMServicePlugIn==6.1
pyobjc-framework-InputMethodKit==6.1
pyobjc-framework-InstallerPlugins==6.1
pyobjc-framework-InstantMessage==6.1
pyobjc-framework-Intents==6.1
pyobjc-framework-IOSurface==6.1
pyobjc-framework-iTunesLibrary==6.1
pyobjc-framework-LatentSemanticMapping==6.1
pyobjc-framework-LaunchServices==6.1
pyobjc-framework-libdispatch==6.1
pyobjc-framework-LocalAuthentication==6.1
pyobjc-framework-MapKit==6.1
pyobjc-framework-MediaAccessibility==6.1
pyobjc-framework-MediaLibrary==6.1
pyobjc-framework-MediaPlayer==6.1
pyobjc-framework-MediaToolbox==6.1
pyobjc-framework-MetalKit==6.1
pyobjc-framework-ModelIO==6.1
pyobjc-framework-MultipeerConnectivity==6.1
pyobjc-framework-NaturalLanguage==6.1
pyobjc-framework-NetFS==6.1
pyobjc-framework-Network==6.1
pyobjc-framework-NetworkExtension==6.1
pyobjc-framework-NotificationCenter==6.1
pyobjc-framework-OpenDirectory==6.1
pyobjc-framework-OSAKit==6.1
pyobjc-framework-Photos==6.1
pyobjc-framework-PhotosUI==6.1
pyobjc-framework-PreferencePanes==6.1
pyobjc-framework-PubSub==6.1
pyobjc-framework-QTKit==6.1
pyobjc-framework-Quartz==6.1
pyobjc-framework-SafariServices==6.1
pyobjc-framework-SceneKit==6.1
pyobjc-framework-ScreenSaver==6.1
pyobjc-framework-ScriptingBridge==6.1
pyobjc-framework-SearchKit==6.1
pyobjc-framework-Security==6.1
pyobjc-framework-SecurityFoundation==6.1
pyobjc-framework-SecurityInterface==6.1
pyobjc-framework-ServiceManagement==6.1
pyobjc-framework-Social==6.1
pyobjc-framework-SpriteKit==6.1
pyobjc-framework-StoreKit==6.1
pyobjc-framework-SyncServices==6.1
pyobjc-framework-SystemConfiguration==6.1
pyobjc-framework-UserNotifications==6.1
pyobjc-framework-VideoSubscriberAccount==6.1
pyobjc-framework-VideoToolbox==6.1
pyobjc-framework-Vision==6.1
pyobjc-framework-WebKit==6.1
pyparsing==2.4.2
pytest==5.1.2
python-dateutil==2.8.0
python-dotenv==0.10.3
pytz==2016.10
PyYAML==5.1.2
query-string==2019.4.13
request==2019.4.13
requests==2.22.0
ruamel.yaml==0.16.5
ruamel.yaml.clib==0.2.0
s3transfer==0.2.1
scipy==1.3.1
seekpath==1.9.3
sentinels==1.0.0
six==1.12.0
smoqe==0.1.3
snowballstemmer==1.9.0
spglib==1.14.1.post0
Sphinx==2.2.1
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sumo==1.3.0
sympy==1.4
tabulate==0.8.5
tqdm==4.36.1
typed-ast==1.4.0
uritemplate==3.0.0
uritemplate.py==3.0.2
urllib3==1.25.3
virtualenv==16.7.4
wcwidth==0.1.7
Werkzeug==0.15.6
wrapt==1.11.2
zipp==0.6.0
